* {
    box-sizing: border-box;
}

body{
    background-color: #131720;
    font-family: sans-serif;
}

h3{
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.active {
    float: left;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.srchbar {
    float: right;
}

form{
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

input{
    all: unset;
    font: 15px system-ui;
    color: #fff;
    padding: 6px 9px;
    height: 100%;
    width: 100%;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 20px;
}

.column{
    float: left;
    padding: 10px;
    width: 25%;
}

.card{
    border-radius: 20px;
    background-color: #151f30;
    text-align: center;
    padding: 15px;
}
